

<ion-content padding class="master">
  
    <div class="container">
      <input type=button  class='glowbutton button2' name="fa" (click)="myFunction('fa')" [disabled]="fa !=''?'true':'false'" [(ngModel)]=fa >
      <input type=button  class='glowbutton button2' name="fb" (click)="myFunction('fb')" [disabled]="fb !=''?'true':'false'" [(ngModel)]=fb >
      <input type=button  class='glowbutton button2' name="fc" (click)="myFunction('fc')" [disabled]="fc !=''?'true':'false'" [(ngModel)]=fc >
      <input type=button  class='glowbutton button2' name="fd" (click)="myFunction('fd')" [disabled]="fd !=''?'true':'false'" [(ngModel)]=fd >
      <input type=button  class='glowbutton button2' name="fe" (click)="myFunction('fe')" [disabled]="fe !=''?'true':'false'" [(ngModel)]=fe >
      </div>
        <div class="container">
      <input type=button   class='glowbutton button2' name="ga" (click)="myFunction('ga')"  [disabled]="ga !=''?'true':'false'" [(ngModel)]=ga>
      <input type=button   class='glowbutton button2' name="gb" (click)="myFunction('gb')"  [disabled]="gb !=''?'true':'false'" [(ngModel)]=gb>
      <input type=button   class='glowbutton button2' name="gc" (click)="myFunction('gc')"  [disabled]="gc !=''?'true':'false'" [(ngModel)]=gc>
      <input type=button   class='glowbutton button2' name="gd" (click)="myFunction('gd')"  [disabled]="gd !=''?'true':'false'" [(ngModel)]=gd>
      <input type=button   class='glowbutton button2' name="ge" (click)="myFunction('ge')"  [disabled]="ge !=''?'true':'false'" [(ngModel)]=ge>
      </div>
        <div class="container">
      <input type=button   class='glowbutton button2' name="ha" (click)="myFunction('ha')"   [disabled]="ha !=''?'true':'false'"   [(ngModel)]=ha>
      <input type=button   class='glowbutton button2' name="hb" (click)="myFunction('hb')"   [disabled]="hb !=''?'true':'false'"   [(ngModel)]=hb>
      <input type=button   class='glowbutton button2' name="hc" (click)="myFunction('hc')"   [disabled]="hc !=''?'true':'false'"   [(ngModel)]=hc>
      <input type=button   class='glowbutton button2' name="hd" (click)="myFunction('hd')"   [disabled]="hd !=''?'true':'false'"   [(ngModel)]=hd>
      <input type=button   class='glowbutton button2' name="he" (click)="myFunction('he')"   [disabled]="he !=''?'true':'false'"   [(ngModel)]=he>
      </div>
        <div class="container">
      <input type=button   class='glowbutton button2' name="ia" (click)="myFunction('ia')"  [disabled]="ia !=''?'true':'false'"    [(ngModel)]=ia>
      <input type=button   class='glowbutton button2' name="ib" (click)="myFunction('ib')"  [disabled]="ib !=''?'true':'false'"    [(ngModel)]=ib>
      <input type=button   class='glowbutton button2' name="ic" (click)="myFunction('ic')"  [disabled]="ic !=''?'true':'false'"    [(ngModel)]=ic>
      <input type=button   class='glowbutton button2' name="id" (click)="myFunction('id')"  [disabled]="id !=''?'true':'false'"    [(ngModel)]=id>
      <input type=button   class='glowbutton button2' name="ie" (click)="myFunction('ie')"  [disabled]="ie !=''?'true':'false'"    [(ngModel)]=ie>
      </div>
        <div class="container">
      <input type=button  class='glowbutton button2' name="ja" (click)="myFunction('ja')" [disabled]="ja !=''?'true':'false'"    [(ngModel)]=ja>
      <input type=button  class='glowbutton button2' name="jb" (click)="myFunction('jb')" [disabled]="jb !=''?'true':'false'"    [(ngModel)]=jb>
      <input type=button  class='glowbutton button2' name="jc" (click)="myFunction('jc')" [disabled]="jc !=''?'true':'false'"    [(ngModel)]=jc>
      <input type=button  class='glowbutton button2' name="jd" (click)="myFunction('jd')" [disabled]="jd !=''?'true':'false'"    [(ngModel)]=jd>
      <input type=button  class='glowbutton button2' name="je" (click)="myFunction('je')" [disabled]="je !=''?'true':'false'"    [(ngModel)]=je>
      </div>
      
      <div class="container">
      <input type="button" class='submitbutton button4' value="go" (click)="createteble()">
      <input type="button"  class='submitbutton button3' value="clear table" (click)="cleartable()">
      </div>
</ion-content>

