

<ion-content padding class="master">



  
  

    
  
    <div class="container">
      <input type=button  class='glowbutton button2' name="fa" (click)="myFunction('fa')" [disabled]="fa !=NULL?'true':'false'" [(ngModel)]=fa >
      <input type=button  class='glowbutton button2' name="fb" (click)="myFunction('fb')" [disabled]="fb !=NULL?'true':'false'" [(ngModel)]=fb >
      <input type=button  class='glowbutton button2' name="fc" (click)="myFunction('fc')" [disabled]="fc !=NULL?'true':'false'" [(ngModel)]=fc >
      <input type=button  class='glowbutton button2' name="fd" (click)="myFunction('fd')" [disabled]="fd !=NULL?'true':'false'" [(ngModel)]=fd >
      <input type=button  class='glowbutton button2' name="fe" (click)="myFunction('fe')" [disabled]="fe !=NULL?'true':'false'" [(ngModel)]=fe >
      </div>
        <div class="container">
      <input type=button   class='glowbutton button1' name="ga" (click)="myFunction('ga')"  [disabled]="ga !=NULL?'true':'false'" [(ngModel)]=ga>
      <input type=button   class='glowbutton button1' name="gb" (click)="myFunction('gb')"  [disabled]="gb !=NULL?'true':'false'" [(ngModel)]=gb>
      <input type=button   class='glowbutton button1' name="gc" (click)="myFunction('gc')"  [disabled]="gc !=NULL?'true':'false'" [(ngModel)]=gc>
      <input type=button   class='glowbutton button1' name="gd" (click)="myFunction('gd')"  [disabled]="gd !=NULL?'true':'false'" [(ngModel)]=gd>
      <input type=button   class='glowbutton button1' name="ge" (click)="myFunction('ge')"  [disabled]="ge !=NULL?'true':'false'" [(ngModel)]=ge>
      </div>
        <div class="container">
      <input type=button   class='glowbutton button1' name="ha" (click)="myFunction('ha')"   [disabled]="ha !=NULL?'true':'false'"   [(ngModel)]=ha>
      <input type=button   class='glowbutton button1' name="hb" (click)="myFunction('hb')"   [disabled]="hb !=NULL?'true':'false'"   [(ngModel)]=hb>
      <input type=button   class='glowbutton button1' name="hc" (click)="myFunction('hc')"   [disabled]="hc !=NULL?'true':'false'"   [(ngModel)]=hc>
      <input type=button   class='glowbutton button1' name="hd" (click)="myFunction('hd')"   [disabled]="hd !=NULL?'true':'false'"   [(ngModel)]=hd>
      <input type=button   class='glowbutton button1' name="he" (click)="myFunction('he')"   [disabled]="he !=NULL?'true':'false'"   [(ngModel)]=he>
      </div>
        <div class="container">
      <input type=button   class='glowbutton button1' name="ia" (click)="myFunction('ia')"  [disabled]="ia !=NULL?'true':'false'"    [(ngModel)]=ia>
      <input type=button   class='glowbutton button1' name="ib" (click)="myFunction('ib')"  [disabled]="ib !=NULL?'true':'false'"    [(ngModel)]=ib>
      <input type=button   class='glowbutton button1' name="ic" (click)="myFunction('ic')"  [disabled]="ic !=NULL?'true':'false'"    [(ngModel)]=ic>
      <input type=button   class='glowbutton button1' name="id" (click)="myFunction('id')"  [disabled]="id !=NULL?'true':'false'"    [(ngModel)]=id>
      <input type=button   class='glowbutton button1' name="ie" (click)="myFunction('ie')"  [disabled]="ie !=NULL?'true':'false'"    [(ngModel)]=ie>
      </div>
        <div class="container">
      <input type=button  class='glowbutton button1' name="ja" (click)="myFunction('ja')" [disabled]="ja !=NULL?'true':'false'"    [(ngModel)]=ja>
      <input type=button  class='glowbutton button1' name="jb" (click)="myFunction('jb')" [disabled]="jb !=NULL?'true':'false'"    [(ngModel)]=jb>
      <input type=button  class='glowbutton button1' name="jc" (click)="myFunction('jc')" [disabled]="jc !=NULL?'true':'false'"    [(ngModel)]=jc>
      <input type=button  class='glowbutton button1' name="jd" (click)="myFunction('jd')" [disabled]="jd !=NULL?'true':'false'"    [(ngModel)]=jd>
      <input type=button  class='glowbutton button1' name="je" (click)="myFunction('je')" [disabled]="je !=NULL?'true':'false'"    [(ngModel)]=je>
      </div>
      
      <div class="container">
      <input type="button" class='submitbutton button4' value="go" (click)="createteble()">
      <input type="button"  class='submitbutton button3' value="clear table" (click)="cleartable()">
      </div>
</ion-content>

