<ion-content class='master'>
<div class='container'>
        <ion-text class="labels center">
            <h1>HOW TO PLAY</h1>
        </ion-text>
 <ion-text class="labels">
  <p> Bingo is a classic game played between friends and family. Play the game! Recall your childhood!</p>
</ion-text>


<hr>

<ion-text class="labels">   
<h1>  Step 1: </h1>
   <p>
    It's a 2 player game.<br>
    Make sure that your mobile is connected to the Internet. After login, you will find two options<br> 
    1)Host Game<br>
    2)Join Game
</p>
</ion-text>


<hr>

<ion-text class="labels">
  <h1> Step 2:</h1> 
    <p>
    The player who hosts the game will select "Host Game" option and he/she is designated as Player One.<br>
    The second player has to wait, until the host player finish entering the numbers in the bingo board.<br>
    After clicking on host game option, you will able to see a 5*5 empty game board and can fill this game board by clicking on cells.
<br>
</p>
 <p>There are 3 options below the game board:</p>

    1)Clear Table : You can clear table and refill the board with numbers.<br><br>
    2)Private : You can secure your current game by blocking any other players without joining, by setting a private key
   <br><br>
    3)Go : Once you are done with entering the numbers board and ready to play, you can select go and lock the board.
    <br> <br>

    Player one has to wait until the player two joins the game.

<hr>

  <h1>Player Two:</h1>  
    <p>
    The player two will start game by selecting Join Game option.<br>
    The list of player1 tables with their ids, will be shown, and choose the opponents from the table name and if it is secured by key, you will be asked for key entry.
    <br>
    The game board page will open and fill the  board by selecting the cells  in the board.<br>
    Once you are done, select go option and game board will appear for player two.<br>
    once automatically player two submits the board, an alert button "ready to play" will appear for both the players.
    <br>
    Select ready option and wait until opponent player accepts the same.<br>
</p>
    </ion-text>

    <hr>
    <ion-text class="labels">

  <h1>How to Play:</h1>  

     <p>
    Select any number from the cell which you want to mark and it will be highlighted in white colour and your opponent will be in green colour
    <br>
    The number selected will be updated in your opponent's table
    <br>
    Winner will be declared  on the basis that who made his/her BINGO word first. 
</p>
    </ion-text>
    </div>
</ion-content>
