

<ion-content class="body">
    <div class="container">
      <h1>PROFILE</h1>
    </div>
    <div class="container1">
        <p class="profilename "><span id="fade">{{name}}</span></p>
    </div>
<ion-item><ion-icon name="ios-mail" class="ibutton"></ion-icon><ion-label class="labels">{{email}}</ion-label></ion-item>
<ion-item><ion-icon name="ios-call" class="ibutton"></ion-icon><ion-label class="labels">{{phonenumber}}</ion-label></ion-item>
<ion-item><ion-text class="ibutton">&nbsp;ID</ion-text><ion-label class="labels">{{id}}</ion-label></ion-item>

<div class="container2 ">
            <div class="neon-blue" id="title"><span id="fade">{{totalgames}}</span></div>
            <div class="neon-blue"><br>
             <span class="neon-purple" id="trav">Totel Number Of Games</span>
             <span class="neon-elov"></span></div>
         </div>
         <div class="container">
     <input type="button"   class='logout' value="logout"  (click)="logout()"  >

</div>
</ion-content>
