/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.modal-transparency{
    --background:transparent!important
}

ion-loading.custom-loader-class{
   
   .loading-wrapper{
    display:inline-block;
    min-width:100px;
    text-align:center;
    text-decoration:none;
    padding:10px 20px;
    border-size:3px;
    border-style:solid;
    border-radius:10px;
    background:#161616;

    transition:all .1s linear;
    margin:7px 20px;
     border-color:#5DADE2;
    color:#5DADE2;
    box-shadow:0px 0px 2px 1px #5DADE2,
      inset 0px 0px 2px #5DADE2;
    text-shadow:0px 0px 2px #5DADE2;

   }
   
    --spinner-color:#F94701;
 
}   

ion-alert.alertctrlcss{
    .alert-wrapper{
    display:inline-block;
    min-width:100px;
    text-align:center;
    text-decoration-color: #F94701;
    padding:10px 20px;
    border-size:3px;
    border-style:solid;
    border-radius:10px;
    background:#161616;

    transition:all .1s linear;
    margin:7px 20px;
     border-color:#5DADE2;
    color:#5DADE2;
    box-shadow:0px 0px 2px 1px #5DADE2,
      inset 0px 0px 2px #5DADE2;
    text-shadow:0px 0px 2px #5DADE2;
}
.alert-input{
  color:#5DADE2;

}
}


.refresher-ios .refresher-pulling-icon, .refresher-ios .refresher-pulling-text, .refresher-ios .refresher-refreshing-icon, .refresher-ios .refresher-refreshing-text { color: var(--ion-text-color,#5DADE2
  ); }